section.about
    .flex.flex--center
        .col-1
            p ABCD EFGHI 
        .col-1
            p ABCD EFGHI

section.project
    .flex.flex--space-around
        .col-1
            p ABCD EFGHI 
        .col-1.order-first
            p ABCD EFGHI
            
section.project
    .flex.flex--center
        .col-2
            p ABCD EFGHI 

section.project
    .flex.flex--center
        .col-50.flex.flex--center
            .col-1
                p ABCD EFGHI 
        .col-50
            p ABCD EFGHI
