mixin nav-content()
    ul
        li: a(href="#about") About
        li: a(href="#education") Education
        li: a(href="#work") Work
        li: a(href="#projects") Projects
        li: a(href="#resume") Resume/Links
        li: a(href="#contact") Contact


.mobile-nav
    +nav-content()


header
    .header-position
        h1.logo Utsav
        
        nav.site-nav
            +nav-content()    
        
        a(href="mailto:ukapoor@asu.edu").email-link +email

        .mobile-nav-toggle: span
